@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Oswald&display=swap');

.colorizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
}

.colorizer .box {
  width: 13rem;
  height: 13rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #521d1d;
  border-radius: 0.5rem;
}
.colorizer button {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
}

footer a {
  text-decoration: none;
  color: brown;
}

.box > p {
  text-align: center;
  margin-top: 40%;
  font-weight: 700;
}
